@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Worker Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1>Главное меню</h1>
            </div>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-md-4 col-lg-offset-1 text-center">
            <h1><a href="/Worker/">Работники</a></h1>
        </div>
        <div class="col-md-4 col-lg-offset-1 text-center">
            <h1><a href="/Company/">Компании</a></h1>
        </div>
    </div>

   

</body>
</html>