USE [master]
GO
/****** Object:  Database [WorkerManager]    Script Date: 07.02.2019 22:07:08 ******/
CREATE DATABASE [WorkerManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WorkerManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\WorkerManager.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WorkerManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\WorkerManager_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WorkerManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WorkerManager]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 07.02.2019 22:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[companySize] [int] NULL,
	[format] [nvarchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Worker]    Script Date: 07.02.2019 22:07:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Worker](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[middleName] [nvarchar](50) NULL,
	[firstName] [nvarchar](50) NULL,
	[lastName] [nvarchar](50) NULL,
	[employmentDate] [date] NULL,
	[position] [nvarchar](50) NULL,
	[company] [nvarchar](50) NULL
) ON [PRIMARY]

GO
USE [master]
GO
